<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Movies Recommender Client</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>

    <body>
        <th:block>
            <body>
                <div class="container pt-5">
                    <div th:if="${accessToken}">
                        <h1 class="title">Access token</h1>

                        <div class="box">
                            <span th:text="${accessToken}" style="overflow-wrap: break-word"></span>
                        </div>
                    </div>

                    <div th:if="${accessToken == null}">
                        <h1 class="title">Access token unavailable</h1>
                        <a href="/login" class="button is-primary">Login</a>
                    </div>
                </div>
            </body>
        </th:block>
    </body>
</html>
